body {
    align-items: center;
    text-align: center;
    margin-left: 30%;
    padding-top: 30px;
}

.container {
    width: 50%;
    height: 400px;
    padding: 20px 10px;
    background-color: lightblue;
}

.ht,
.wt {
    margin-top: 40px;
}

.btn {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.male {
    margin-right: 40px;
}

.gender,
.ht,
.wt,
.display {
    display: grid;
}

.gender {
    grid-template-columns: 1fr 1fr 1fr;
}

.ht,
.wt {
    grid-template-columns: 1fr 2fr 0.2fr;
}

.display {
    grid-template-columns: 3fr 2fr 1fr;
}

.measure {
    width: 25px;
    border-radius: 5px;
    border: none;
}

.display>label {
    padding-top: 20px;
}